h1 {
  display: inline-block;
}
h3 {
  float:right;
}
body{
  background: url("http://media.istockphoto.com/photos/green-poker-background-picture-id134503254?k=6&m=134503254&s=170667a&w=0&h=WpG5cjt1WS55TvyaA09-EFNroE1wDSVauklGpdzD0OU=") no-repeat center center fixed;
  background-size: cover;
}
#deck {
  height: 300px;
  width: 50%;
  background-color: black;
  color: white;
}

#house {
  height: 300px;
  width: 50%;
  background-color: blue;
  position:absolute;
  top: 0;
  right: 0;
  color: white;
}

#player {
  height: 300px;
  width: 50%;
  background-color: red;
  margin: 0 auto;
  color: white;
}

.container{
  position:relative;
  border:1px solid red;
}

#display{
  width: 50%;
  margin: 0 auto;
  background-color: yellow;
}
#pool{
  width: 50%;
  margin: 0 auto;
  background-color: pink;
}
#bets{
  width: 50%;
  margin: 0 auto;
}
.hitStand{
  width: 100px;
  position: relative;
  bottom: 0px;
}
