*{
  font-family: 'Revalia', cursive;
}
h1 {
  display: inline-block;
}
h3 {
  float:right;
}
body{
  background: url("http://media.istockphoto.com/photos/green-poker-background-picture-id134503254?k=6&m=134503254&s=170667a&w=0&h=WpG5cjt1WS55TvyaA09-EFNroE1wDSVauklGpdzD0OU=") no-repeat center center fixed;
  background-size: cover;
}
#deck {
  width: 25%;
  background-color: clear;
  color: white;
}

#house {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: clear;
  position:relative;
  color: white;
}

#player {
  width: 50%;
  text-align: center;
  padding: 0;
  background-color: clear;
  margin: 0 auto;
  color: white;
}

#playerContainer{
  position:relative;
  top:150px;
}
.container{
  position:relative;
}


#display{
  width: 50%;
  margin: 0 auto;
  font-size: ;
}
#displayContainer{
  margin: 0 auto;
  display:inline-block;

}
#pool{
  width: 50%;
  margin: 0 auto;
  position: relative;
  left: 50%;
}
#betDisplay{
  width: 75%;
  margin: 0 auto;
}
.hitStand{
  width: 50%;
  margin: 0 auto;
  position: relative;
  left: 50%;
}
#hitStandDisplay{
  width: 50%;
  margin: 0 auto;
  position: absolute;
  bottom: 100px;
}
#buttonContainer{
  width: 100%;
  margin: 0 auto;
  position:absolute;
  bottom: 100px;
}
