*{
  font-family: 'Revalia', cursive;
}
h1 {
  margin: 0 auto;
  text-align: center;
  color: gold;
}
#logo{
  height: 100px;
}
body{
  background: url("../images/board/feltBoard.jpg") no-repeat center center fixed;
  background-size: cover;
  height:800px;

}
#deck {
  width: 25%;
  color: white;
}
#table{
  background: url("../images/board/table.png") no-repeat center center;
  height:100%;
}
#black{
  color:black;

}
#house {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position:relative;
  top:45px;
  color: white;
}

#player {
  width: 50%;
  text-align: center;
  padding: 0;
  position: relative;
  bottom: 12px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 0 auto;
  color: white;
}


#playerContainer{
  position:relative;
  top:150px;
}

#chips{

}

.container{
  position:relative;
}


#display{
  width: 100px;
  margin: 0 auto;
  color:#ff6666;
}
#displayContainer{
  position: relative;
  margin: 0 auto;
}
#pool{
  position: absolute;
  top: 97px;
  text-align: center;
  color:gold;
}
#bank{
  color: gold;
  text-align: center;
  position: relative;
  top: 465px;
  left: 188px;
}
#betDisplay{
  width: 75%;
  margin: 0 auto;
}
#hundred,#twentyFive,#five,#one {
  height: 80px;
}
.hitStand{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#hitStandDisplay{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
}
#buttonContainer{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position:absolute;
  bottom: 10%;
}
